In [25]:
import pandas as pd

In [26]:
# source_2016 = '../source/tables_1-15_6a_dashboard1_dashboard2_online_version.xlsx'
source_file = '../source/Human development index (HDI).csv'

In [27]:
data = pd.read_csv(source_file, skiprows=1, encoding='utf8')

In [28]:
data.head()

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,149,Angola,..,..,..,..,..,..,..,..,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574

In [29]:
data_ = data.drop('HDI Rank (2018)', axis=1).set_index('Country').stack()

In [30]:
data_ = data_.reset_index()
data_.columns = ['country', 'year', 'hdi']

In [31]:
data_

          country  year    hdi
0     Afghanistan  1990  0.298
1     Afghanistan  1991  0.304
2     Afghanistan  1992  0.312
3     Afghanistan  1993  0.308
4     Afghanistan  1994  0.303
...           ...   ...    ...
6141        World  2014  0.718
6142        World  2015  0.722
6143        World  2016  0.727
6144        World  2017  0.729
6145        World  2018  0.731

[6146 rows x 3 columns]

In [32]:
from ddf_utils.str import to_concept_id

In [33]:
country = data_[['country']].drop_duplicates().copy()

country['name'] = country['country'].copy()
country['country'] = country['country'].map(to_concept_id)

In [34]:
country.to_csv('../../ddf--entities--country.csv', index=False)

In [35]:
data_['country'] = data_['country'].map(to_concept_id)

In [36]:
data_.dropna(how='any').to_csv('../../ddf--datapoints--hdi--by--country--year.csv', index=False)

In [37]:
concepts = pd.DataFrame([['hdi', 'Human Development Index', 'measure'],
                         ['country', 'Country', 'entity_domain'],
                         ['year', 'Year', 'time'],
                         ['name', 'Name', 'string']])

In [38]:
concepts.columns = ['concept', 'name', 'concept_type']

In [39]:
concepts

   concept                     name   concept_type
0      hdi  Human Development Index        measure
1  country                  Country  entity_domain
2     year                     Year           time
3     name                     Name         string

In [40]:
concepts.to_csv('../../ddf--concepts.csv', index=False)