In [30]:
import pandas as pd

In [31]:
# source_2016 = '../source/tables_1-15_6a_dashboard1_dashboard2_online_version.xlsx'
source_file = '../source/HDR21-22_complete_time_series.csv'

In [32]:
#!head ../source/HDR21-22_complete_time_series.csv

In [33]:
data = pd.read_csv(source_file, encoding='utf8', na_values=['..'])

In [34]:
data.head()

,iso3,country,hdicode,region,1990,1991,1992,1993,1994,1995,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Low,SA,0.273,0.279,0.287,0.297,0.292,0.310,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,AGO,Angola,Medium,SSA,NaN,NaN,NaN,NaN,NaN,NaN,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,ALB,Albania,High,ECA,0.647,0.629,0.614,0.617,0.624,0.634,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,AND,Andorra,Very High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,ARE,United Arab Emirates,Very High,AS,0.728,0.739,0.742,0.748,0.755,0.762,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911

In [35]:
data = data.dropna(how='all', axis=1).dropna(how='all')

In [36]:
data

,iso3,country,hdicode,region,1990,1991,1992,1993,1994,1995,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,Low,SA,0.273,0.279,0.287,0.297,0.292,0.310,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,AGO,Angola,Medium,SSA,NaN,NaN,NaN,NaN,NaN,NaN,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,ALB,Albania,High,ECA,0.647,0.629,0.614,0.617,0.624,0.634,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,AND,Andorra,Very High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,ARE,United Arab Emirates,Very High,AS,0.728,0.739,0.742,0.748,0.755,0.762,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,0.664,0.661,0.654,0.652,0.647,0.652,...,0.760,0.772,0.778,0.783,0.788,0.794,0.798,0.802,0.793,0.796
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,0.633,0.638,0.643,0.648,0.654,0.658,...,0.744,0.753,0.756,0.758,0.761,0.763,0.766,0.768,0.755,0.754
203,ZZI.SA,South Asia,NaN,NaN,0.442,0.447,0.453,0.457,0.462,0.467,...,0.596,0.603,0.614,0.623,0.633,0.638,0.640,0.641,0.638,0.632
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,0.407,0.410,0.410,0.411,0.413,0.420,...,0.516,0.523,0.529,0.534,0.539,0.542,0.547,0.552,0.549,0.547
205,ZZK.WORLD,World,NaN,NaN,0.601,0.604,0.607,0.610,0.614,0.619,...,0.709,0.714,0.720,0.724,0.729,0.733,0.736,0.739,0.735,0.732

In [37]:
data_ = data.drop(['hdicode','iso3','region'], axis=1).set_index('country').stack()

In [38]:
data_ = data_.reset_index()
data_.columns = ['country', 'year', 'hdi']

In [39]:
data_

          country  year    hdi
0     Afghanistan  1990  0.273
1     Afghanistan  1991  0.279
2     Afghanistan  1992  0.287
3     Afghanistan  1993  0.297
4     Afghanistan  1994  0.292
...           ...   ...    ...
5918        World  2017  0.733
5919        World  2018  0.736
5920        World  2019  0.739
5921        World  2020  0.735
5922        World  2021  0.732

[5923 rows x 3 columns]

In [40]:
data_['country'] = data_['country'].str.strip()

In [41]:
data_['year'] = data_['year'].astype(int)

In [42]:
from ddf_utils.str import to_concept_id

In [43]:
country = data_[['country']].drop_duplicates().copy()

country['name'] = country['country'].copy()
country['country'] = country['country'].map(to_concept_id)

In [44]:
country.to_csv('../../ddf--entities--country.csv', index=False)

In [45]:
data_['country'] = data_['country'].map(to_concept_id)

In [46]:
data_.dropna(how='any').to_csv('../../ddf--datapoints--hdi--by--country--year.csv', index=False)

In [47]:
concepts = pd.DataFrame([['hdi', 'Human Development Index', 'measure'],
                         ['country', 'Country', 'entity_domain'],
                         ['year', 'Year', 'time'],
                         ['name', 'Name', 'string']])

In [48]:
concepts.columns = ['concept', 'name', 'concept_type']

In [49]:
concepts

   concept                     name   concept_type
0      hdi  Human Development Index        measure
1  country                  Country  entity_domain
2     year                     Year           time
3     name                     Name         string

In [50]:
concepts.to_csv('../../ddf--concepts.csv', index=False)