In [1]:
import pandas as pd

In [2]:
# source_2016 = '../source/tables_1-15_6a_dashboard1_dashboard2_online_version.xlsx'
source_file = '../source/Human development index (HDI).csv'

In [3]:
!head ../source/Human\ development\ index\ \(HDI\).csv

"36"," Andorra","..",

In [4]:
data = pd.read_csv(source_file, skiprows=5, encoding='latin1', na_values=['..'])

In [5]:
data.head()

,HDI Rank,Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018,Unnamed: 59,2019,Unnamed: 61
0,169,Afghanistan,0.302,NaN,0.307,NaN,0.316,NaN,0.312,NaN,...,0.500,NaN,0.502,NaN,0.506,NaN,0.509,NaN,0.511,NaN
1,69,Albania,0.650,NaN,0.631,NaN,0.615,NaN,0.618,NaN,...,0.788,NaN,0.788,NaN,0.790,NaN,0.792,NaN,0.795,NaN
2,91,Algeria,0.572,NaN,0.576,NaN,0.582,NaN,0.586,NaN,...,0.740,NaN,0.743,NaN,0.745,NaN,0.746,NaN,0.748,NaN
3,36,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.862,NaN,0.866,NaN,0.863,NaN,0.867,NaN,0.868,NaN
4,148,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.572,NaN,0.578,NaN,0.582,NaN,0.582,NaN,0.581,NaN

In [6]:
data = data.dropna(how='all', axis=1).dropna(how='all')

In [7]:
data_ = data.drop('HDI Rank', axis=1).set_index('Country').stack()

In [8]:
data_ = data_.reset_index()
data_.columns = ['country', 'year', 'hdi']

In [9]:
data_

           country  year    hdi
0      Afghanistan  1990  0.302
1      Afghanistan  1991  0.307
2      Afghanistan  1992  0.316
3      Afghanistan  1993  0.312
4      Afghanistan  1994  0.307
...            ...   ...    ...
5597         World  2015  0.722
5598         World  2016  0.727
5599         World  2017  0.729
5600         World  2018  0.731
5601         World  2019  0.737

[5602 rows x 3 columns]

In [10]:
data_['country'] = data_['country'].str.strip()

In [11]:
data_['year'] = data_['year'].astype(int)

In [12]:
from ddf_utils.str import to_concept_id

In [13]:
country = data_[['country']].drop_duplicates().copy()

country['name'] = country['country'].copy()
country['country'] = country['country'].map(to_concept_id)

In [14]:
country.to_csv('../../ddf--entities--country.csv', index=False)

In [15]:
data_['country'] = data_['country'].map(to_concept_id)

In [16]:
data_.dropna(how='any').to_csv('../../ddf--datapoints--hdi--by--country--year.csv', index=False)

In [17]:
concepts = pd.DataFrame([['hdi', 'Human Development Index', 'measure'],
                         ['country', 'Country', 'entity_domain'],
                         ['year', 'Year', 'time'],
                         ['name', 'Name', 'string']])

In [18]:
concepts.columns = ['concept', 'name', 'concept_type']

In [19]:
concepts

   concept                     name   concept_type
0      hdi  Human Development Index        measure
1  country                  Country  entity_domain
2     year                     Year           time
3     name                     Name         string

In [20]:
concepts.to_csv('../../ddf--concepts.csv', index=False)