In [73]:
import pandas as pd

In [74]:
# source_2016 = '../source/tables_1-15_6a_dashboard1_dashboard2_online_version.xlsx'
source_file = '../source/Human development index (HDI).csv'

In [75]:
data = pd.read_csv(source_file, skiprows=1, encoding='utf8', na_values=['..'], dtype=str)

In [76]:
data.head()

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.610,0.619,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
4,149,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574

In [77]:
data_ = data.drop('HDI Rank (2018)', axis=1).set_index('Country').stack(dropna=True)

In [78]:
data_ = data_.reset_index()
data_.columns = ['country', 'year', 'hdi']

In [79]:
data_.head(50)

        country  year    hdi
0   Afghanistan  1990  0.298
1   Afghanistan  1991  0.304
2   Afghanistan  1992  0.312
3   Afghanistan  1993  0.308
4   Afghanistan  1994  0.303
5   Afghanistan  1995  0.327
6   Afghanistan  1996  0.331
7   Afghanistan  1997  0.335
8   Afghanistan  1998  0.339
9   Afghanistan  1999  0.343
10  Afghanistan  2000  0.345
11  Afghanistan  2001  0.347
12  Afghanistan  2002  0.378
13  Afghanistan  2003  0.387
14  Afghanistan  2004  0.400
15  Afghanistan  2005  0.410
16  Afghanistan  2006  0.419
17  Afghanistan  2007  0.431
18  Afghanistan  2008  0.436
19  Afghanistan  2009  0.447
20  Afghanistan  2010  0.464
21  Afghanistan  2011  0.465
22  Afghanistan  2012  0.479
23  Afghanistan  2013  0.485
24  Afghanistan  2014  0.488
25  Afghanistan  2015  0.490
26  Afghanistan  2016  0.491
27  Afghanistan  2017  0.493
28  Afghanistan  2018  0.496
29      Albania  1990  0.644
30      Albania  1991  0.625
31      Albania  1992  0.608
32      Albania  1993  0.611
33      Albania  1994  0.617
34      Albania  1995  0.629
35      Albania  1996  0.639
36      Albania  1997  0.639
37      Albania  1998  0.649
38      Albania  1999  0.660
39      Albania  2000  0.667
40      Albania  2001  0.673
41      Albania  2002  0.680
42      Albania  2003  0.687
43      Albania  2004  0.692
44      Albania  2005  0.702
45      Albania  2006  0.709
46      Albania  2007  0.718
47      Albania  2008  0.724
48      Albania  2009  0.729
49      Albania  2010  0.740

In [80]:
from ddf_utils.str import to_concept_id

In [81]:
country = data_[['country']].drop_duplicates().copy()

country['name'] = country['country'].copy()
country['country'] = country['country'].map(to_concept_id)

In [82]:
country.to_csv('../../ddf--entities--country.csv', index=False)

In [83]:
data_['country'] = data_['country'].map(to_concept_id)

In [84]:
data_.to_csv('../../ddf--datapoints--hdi--by--country--year.csv', index=False)

In [85]:
data_.head(50)

        country  year    hdi
0   afghanistan  1990  0.298
1   afghanistan  1991  0.304
2   afghanistan  1992  0.312
3   afghanistan  1993  0.308
4   afghanistan  1994  0.303
5   afghanistan  1995  0.327
6   afghanistan  1996  0.331
7   afghanistan  1997  0.335
8   afghanistan  1998  0.339
9   afghanistan  1999  0.343
10  afghanistan  2000  0.345
11  afghanistan  2001  0.347
12  afghanistan  2002  0.378
13  afghanistan  2003  0.387
14  afghanistan  2004  0.400
15  afghanistan  2005  0.410
16  afghanistan  2006  0.419
17  afghanistan  2007  0.431
18  afghanistan  2008  0.436
19  afghanistan  2009  0.447
20  afghanistan  2010  0.464
21  afghanistan  2011  0.465
22  afghanistan  2012  0.479
23  afghanistan  2013  0.485
24  afghanistan  2014  0.488
25  afghanistan  2015  0.490
26  afghanistan  2016  0.491
27  afghanistan  2017  0.493
28  afghanistan  2018  0.496
29      albania  1990  0.644
30      albania  1991  0.625
31      albania  1992  0.608
32      albania  1993  0.611
33      albania  1994  0.617
34      albania  1995  0.629
35      albania  1996  0.639
36      albania  1997  0.639
37      albania  1998  0.649
38      albania  1999  0.660
39      albania  2000  0.667
40      albania  2001  0.673
41      albania  2002  0.680
42      albania  2003  0.687
43      albania  2004  0.692
44      albania  2005  0.702
45      albania  2006  0.709
46      albania  2007  0.718
47      albania  2008  0.724
48      albania  2009  0.729
49      albania  2010  0.740

In [86]:
concepts = pd.DataFrame([['hdi', 'Human Development Index', 'measure'],
                         ['country', 'Country', 'entity_domain'],
                         ['year', 'Year', 'time'],
                         ['name', 'Name', 'string']])

In [87]:
concepts.columns = ['concept', 'name', 'concept_type']

In [88]:
concepts

   concept                     name   concept_type
0      hdi  Human Development Index        measure
1  country                  Country  entity_domain
2     year                     Year           time
3     name                     Name         string

In [89]:
concepts.to_csv('../../ddf--concepts.csv', index=False)