In [2]:
import pandas as pd

In [3]:
# source_2016 = '../source/tables_1-15_6a_dashboard1_dashboard2_online_version.xlsx'
source_file = '../source/Human development index (HDI).csv'

In [7]:
data = pd.read_csv(source_file, skiprows=1, encoding='latin1')

In [8]:
data.head()

,HDI Rank (2015),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,169,Afghanistan,0.295,0.300,0.309,0.305,0.300,0.324,0.328,0.332,...,0.415,0.433,0.434,0.448,0.454,0.463,0.470,0.476,0.479,0.479
1,75,Albania,0.635,0.618,0.603,0.608,0.616,0.628,0.637,0.636,...,0.703,0.713,0.721,0.725,0.738,0.752,0.759,0.761,0.762,0.764
2,83,Algeria,0.577,0.581,0.587,0.591,0.595,0.600,0.609,0.617,...,0.690,0.697,0.705,0.714,0.724,0.732,0.737,0.741,0.743,0.745
3,32,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.819,0.819,0.843,0.850,0.857,0.858
4,150,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.454,0.468,0.480,0.488,0.495,0.508,0.523,0.527,0.531,0.533

In [9]:
data_ = data.drop('HDI Rank (2015)', axis=1).set_index('Country').stack()

In [11]:
data_ = data_.reset_index()
data_.columns = ['country', 'year', 'hdi']

In [12]:
data_

           country  year    hdi
0      Afghanistan  1990  0.295
1      Afghanistan  1991  0.300
2      Afghanistan  1992  0.309
3      Afghanistan  1993  0.305
4      Afghanistan  1994  0.300
5      Afghanistan  1995  0.324
6      Afghanistan  1996  0.328
7      Afghanistan  1997  0.332
8      Afghanistan  1998  0.335
9      Afghanistan  1999  0.338
10     Afghanistan  2000  0.340
11     Afghanistan  2001  0.341
12     Afghanistan  2002  0.373
13     Afghanistan  2003  0.381
14     Afghanistan  2004  0.396
15     Afghanistan  2005  0.405
16     Afghanistan  2006  0.415
17     Afghanistan  2007  0.433
18     Afghanistan  2008  0.434
19     Afghanistan  2009  0.448
20     Afghanistan  2010  0.454
21     Afghanistan  2011  0.463
22     Afghanistan  2012  0.470
23     Afghanistan  2013  0.476
24     Afghanistan  2014  0.479
25     Afghanistan  2015  0.479
26         Albania  1990  0.635
27         Albania  1991  0.618
28         Albania  1992  0.603
29         Albania  1993  0.608
...            ...   ...    ...
4318        Zambia  2012  0.565
4319        Zambia  2013  0.570
4320        Zambia  2014  0.576
4321        Zambia  2015  0.579
4322      Zimbabwe  1990  0.499
4323      Zimbabwe  1991  0.501
4324      Zimbabwe  1992  0.486
4325      Zimbabwe  1993  0.479
4326      Zimbabwe  1994  0.475
4327      Zimbabwe  1995  0.465
4328      Zimbabwe  1996  0.460
4329      Zimbabwe  1997  0.451
4330      Zimbabwe  1998  0.442
4331      Zimbabwe  1999  0.434
4332      Zimbabwe  2000  0.427
4333      Zimbabwe  2001  0.427
4334      Zimbabwe  2002  0.418
4335      Zimbabwe  2003  0.407
4336      Zimbabwe  2004  0.406
4337      Zimbabwe  2005  0.408
4338      Zimbabwe  2006  0.414
4339      Zimbabwe  2007  0.421
4340      Zimbabwe  2008  0.419
4341      Zimbabwe  2009  0.436
4342      Zimbabwe  2010  0.452
4343      Zimbabwe  2011  0.464
4344      Zimbabwe  2012  0.488
4345      Zimbabwe  2013  0.498
4346      Zimbabwe  2014  0.507
4347      Zimbabwe  2015  0.516

[4348 rows x 3 columns]

In [13]:
from ddf_utils.str import to_concept_id

In [19]:
country = data_[['country']].drop_duplicates().copy()

country['name'] = country['country'].copy()
country['country'] = country['country'].map(to_concept_id)

In [21]:
country.to_csv('../../ddf--entities--country.csv', index=False)

In [22]:
data_['country'] = data_['country'].map(to_concept_id)

In [23]:
data_.dropna(how='any').to_csv('../../ddf--datapoints--hdi--by--country--year.csv', index=False)

In [24]:
concepts = pd.DataFrame([['hdi', 'Human Development Index', 'measure'],
                         ['country', 'Country', 'entity_domain'],
                         ['year', 'Year', 'time'],
                         ['name', 'Name', 'string']])

In [26]:
concepts.columns = ['concept', 'name', 'concept_type']

In [27]:
concepts

   concept                     name   concept_type
0      hdi  Human Development Index        measure
1  country                  Country  entity_domain
2     year                     Year           time
3     name                     Name         string

In [28]:
concepts.to_csv('../../ddf--concepts.csv', index=False)